.item-count{
    display: flex;
    flex-direction:column;
    border-radius: 15px;
    background-color:#cdecc7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 35%;

}

.buttons-count{
    display: flex;
    justify-content: center;
    margin: 5px;
    
}

.counts{

    width: 55px;
    margin: 5px;

}
